* text=auto !eol
/Makefile -text
/apertium-ssw.ssw.lexc -text
/apertium-ssw.ssw.rlx -text
/apertium-ssw.ssw.twoc -text
/apertium-ssw.ssw.twol -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
